.mainDiv{
    width: 80%;
}
table{
    border-bottom: 1px solid gray;
    border-top: none;
}
tr{
    border-bottom: 1px solid gray !important;
    border-top: none !important;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border: none;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}
table, tr, td, th, thead{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-size: 10px;
}
th{
    font-weight: 800;
    font-size: 12px;
}