@import "../../utils/variables.scss";


input:focus, textarea:focus, select:focus{
  outline: none;
}

button {
color: #fff;
}

a {
  text-decoration: underline;
  color: gray;
  font-size: 11px;
}

h6 {
  text-align: center;
  color: #fff;
  font-weight: 600; 
}
 
.sign-btn {
  font-size: 14px;
  background: $secondaryColor;
  height: 36px;
  font-weight: 700;
  border-radius: 12px;
  border: none;
}

.rp-main_container {
  background-color: $primaryColor ;
  justify-content: flex-end;
    align-items: center;
    display: flex;
    height: 100vh;
}

.resetpass-form {
  width: 450px;
  // margin: 0 auto;
  padding: 30px 20px;
  font-size: 15px;
  margin-right: 6%;
}

.resetpass-form form {
  color: #999;
  border-radius: 3px;
  margin-bottom: 15px;
  /* background: #f2f3f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */
}

.resetpass-form h2 {
  color: #636363;
  margin: 0 0 15px;
  position: relative;
  text-align: center;
}

.resetpass-form input {
  width: 100%;
  padding: 8px 25px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 12px;
  outline: none;
  background-color: transparent;
}

.resetpass-form input:focus {
  background-color: transparent;
  color: #fff;
  outline: none;
}

.resetpass-form .hint-text {
  color: #999;
  margin-bottom: 30px;
  text-align: center;
}

.resetpass-form .form-group {
  // margin-bottom: 20px;
}

.resetpass-form .row div:first-child {
  padding-right: 10px;
}

.form-control {
  height: 33px;
  box-shadow: none;
  color: #969fa4;
}


.no-account {
  background: #292828;
  border-radius: 20px;
  border: none;
  font-size: 11px;
  padding: 4px 10px;
  cursor: pointer;
}

.password-verify {
  font-size: 12px;
  p{
    margin-bottom: 0;
  }
  span{
    margin-right: 10px;
  }
}